#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#foto {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

#link {
  display: block;
  justify-content: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}